.logos {
  padding: 2rem 5%;
  border-bottom: 2px #b9125a solid;
  border-top: 2px #b9125a solid;
  overflow: hidden;
  white-space: nowrap;
}

.logo_title {
  text-align: center;
  margin-bottom: 1rem;
}

.logo_title h2 {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}

.logo_title p {
  font-size: 22px;
  color: #707070;
}

.logo_slide {
  animation: scroll 5s infinite linear;
  display: inline-block;
}

.logo_slide img {
  margin: 1rem 1.5rem;
  height: 10rem;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}